@* ビュー（一覧表示） *@
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<ExpenseTracker.Models.Expense>
@{
	ViewData["Title"] = "支出一覧";
}

<h2>@ViewData["Title"]</h2>
<table class="table-centered">
	<thead>
		<tr>
			<th class="date-column">日付</th>
			<th>カテゴリ</th>
			<th>金額</th>
			<th>メモ</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var e in Model)
		{
			<tr>
				<td>@e.PurchaseDate.ToShortDateString()</td>
				<td>@e.Category</td>
				<td>@e.Amount</td>
				<td>@e.Note</td>
			</tr>
		}
	</tbody>
</table>
